* {
  box-sizing: border-box; }

#blue_shirt {
  width: 400px;
  height: 400px;
  background-color: #65AADA; }

#pink_shirt {
  width: 400px;
  height: 400px;
  border-color: #65AADA;
  float: left;
}

#orange_shirt {
  width: 400px;
  height: 400px;
  background-color: blue; }

div {
  color: red; }

.shirts {
  width: 390px; }
